html {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

Body {
    background-color: rgba(82, 188, 223, 0.927);
}

.menu {
    background-color: rgb(37, 222, 203);
    font-style:normal;
    padding-left: 2% ;
    padding-top: 5%;
    padding-bottom: -12%;
    margin-left: 0%;
    margin-top: 0%;
    

    
   list-style: none;
    width: 150px;
    Height: 150px;

}

h2 {
    color: darkolivegreen 
}
 

.Education {
    color:darkolivegreen;
    font-weight: 200;
}

.image{
    text-align: center;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 0px;
    margin-bottom: 0%;
    

}

article{background-color: darkcyan;
    padding: 5% 5% 5% 5%;
}

header{background-color: darkcyan;

}

.text{color: #eee8a9;}

body{background-color:rgba(170, 182, 185, 0.937);
    margin: 5px;
padding: 10px;}

footer{background-color:rgb(37, 207, 207);
margin:0% ;
padding:3%}

img{ 
    border-radius: 50%;
    border: 5px solid darkgrey
/*make the picture round*/    

}

