html {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

Body {
    background-color: rgba(82, 188, 223, 0.927);
}

aside {
    background-color: rgb(37, 222, 203);
   
}

h2 {
    color: darkolivegreen 
}
 
.Education {
    color:darkolivegreen;
    font-weight: 200;
}

.image{
    text-align: center;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 0px;
    margin-bottom: 0%;
    

}
#skill1, #skill3{
    position: relative;
    left: 10px;
    background-color: rgb(37, 207, 207);
    margin-right: 75%
}
article{background-color: darkcyan;
    padding: 5% 5% 5% 5%;
    margin-top: 14.5%;
}

header{background-color: darkcyan;

}

.text{color: #eee8a9;}

body{background-color:rgba(170, 182, 185, 0.937);
    margin: 5px;
padding: 10px;}

footer{background-color:rgb(37, 207, 207);
margin:0% ;
padding:3%}

img{position: relative;
    right: 0px; 
    top: 20px;
    border-radius: 50%;
    border: 5px solid darkgrey
/*make the picture round*/    

}

/*resume6*/
#container{
    display: flex;
}

#box1{
   margin-top:;

}